# App
APP_ENV=dev
APP_SECRET=change_me_to_random_32_char_string

# JWT
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_jwt_passphrase
JWT_TTL=900

# Database
DATABASE_URL=mysql://passfort_user:passfort_password@mysql:3306/passfort?serverVersion=8.0&charset=utf8mb4

# Redis
REDIS_URL=redis://redis:6379
REDIS_DSN=redis://redis:6379

# Kafka
KAFKA_BROKERS=kafka:29092
MESSENGER_TRANSPORT_DSN=kafka://kafka:29092

# CORS
CORS_ALLOW_ORIGIN=http://localhost:5173

# Frontend
VITE_API_BASE_URL=/api/v1

# Mailer (Gmail API — без SMTP портов, домен не нужен)
MAILER_FROM_EMAIL=your@gmail.com
MAILER_FROM_NAME=PassFort
GMAIL_CLIENT_ID=your_client_id.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=GOCSPX-your_secret
GMAIL_REFRESH_TOKEN=1//your_refresh_token
APP_URL=http://localhost:19080
